
p{
    font-family: "Roboto", sans-serif;
}
/*
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
*/
/*
.bottom{
    height: 100px;
    background-color: blue;
    margin-top: auto;
}
*/

.main{
    overflow: none;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.HeadTitle{
    position: absolute;
    width: 100%;
    min-height: 350px;
    /*
    background-color: red;
    */
    top: 500px;
    padding: 0;
}
.HeadTitle_Line{
    position: absolute;
    top: 0;
    width: 500px;
    height: 1px;
     
    background-color: dimgray;
    
}
.HeadTitle h2{
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 45px;
}
    .HeadTitle_Description{
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        /*
        background-color: blue;
        */
    }
    .HeadTitle_Description p{
        line-height: 35px;
    }


/*table*/ 

.table{
    position: relative;
    top: 500px;
    width: 100%;
    min-height:1500px;
    /*
    background-color: purple;
    */
}
.table {
    position: absolute;
    width: 100%;
    
    padding: 0;
}
.table  li{
    min-height: 20px;
    margin-bottom: 150px;
}
.table li h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    
}
table{
    position: relative;
    width: 1000px;
    min-height: 400px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.table li table tr th{
    text-align: center;
}
.table li table tr:hover{
    cursor: pointer;
}


@media(max-width:1376px){
    .HeadImage{
        display: none;
    }
    .InHeader{
        clip-path: none;
    }
    .main_main{
        width: 100%;
    }
    .InHeader h1, .ListOfAdvantages{
        left: 0%;
    }
}
@media(max-width: 1038px){
    table{
        width: 100%;
    }
    .HeadTitle_Line{
        width: 400px;
    }
    .HeadTitle h2{
        font-size: 35px;
    }
    .HeadTitle_Description p{
        font-size: 17px;
    }
}
@media(max-width: 886px){
    .InHeader h1{
        font-size: 45px;
    }
    .ListOfAdvantages li{
        font-size: 22px;
    }
    .HeadTitle{
        min-height: 450px;
        max-height: 550px;
        
    }
    .HeadTitle_Description{
        height: 90%;
        right: 50%;
        top: 75px;
        min-width: 500px;
        transform: translateX(50%);
    }
    .HeadTitle_Description p{
        text-align: center;
        min-height: 400px;
        
    }
    .HeadTitle h2{
        width: 100%;
        text-align: center;
        
    }
    .HeadTitle_Line{
        left: 50%;
        transform: translateX(-50%);
    }
    .HeadTitle{
        top: 450px;
    }
}

@media(max-width: 548px){
    .HeadTitle h2{
        text-align: left;  
    }
    .HeadTitle{
        margin-bottom: 100px;
    }
    .HeadTitle_Line{
        left: 0;
    }
    .HeadTitle_Description p{
        text-align: left;
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
    .HeadTitle_Description{
        min-width: none;
        min-width: 400px;
        left: 0;
        transform: none;
    }
    .table li{
        width: 100%;
        overflow-x:scroll;
    }
    .InHeader h1{
        font-size: 30px;
    }
    .ListOfAdvantages li{
        font-size: 20px;
    }
    .table{
        padding: 0;
    }
    table{
        left: 0;
        transform: none;
        width: 548px;
    }
}