p{
    font-family: "Roboto", sans-serif;
}
.HeadTitle{
    position: absolute;
    width: 100%;
    min-height: 350px;
    /*
    background-color: red;
    */
    top: 500px;
    padding: 0;
}
.HeadTitle_Line{
    position: absolute;
    top: 0;
    width: 500px;
    height: 1px;
     
    background-color: dimgray;
    
}
.HeadTitle h2{
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 45px;
}
    .HeadTitle_Description{
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        /*
        background-color: blue;
        */
    }
    .HeadTitle_Description p{
        line-height: 35px;
    }


/*table*/ 

.table{
    position: absolute;
    top: 1000px;
    width: 100%;
    min-height:1500px;
    /*
    background-color: purple;
    */
}
.table ul{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
}
.table ul li{
    min-height: 500px;
    margin-bottom: 250px;
}
.table ul li h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    
}
table{
    position: relative;
    width: 1000px;
    min-height: 700px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.main{
    margin-bottom: 300px;
}

@media(max-width:1376px){
    .HeadImage{
        display: none;
    }
    .InHeader{
        clip-path: none;
    }
    .main_main{
        width: 100%;
    }
    .InHeader h1, .ListOfAdvantages{
        left: 0%;
    }
}
@media(max-width: 1038px){
    table{
        width: 100%;
    }
    .HeadTitle_Line{
        width: 400px;
    }
    .HeadTitle h2{
        font-size: 35px;
    }
    .HeadTitle_Description p{
        font-size: 17px;
    }
}
@media(max-width: 886px){
    .InHeader h1{
        font-size: 45px;
    }
    .ListOfAdvantages li{
        font-size: 22px;
    }
    .HeadTitle{
        min-height: 450px;
        max-height: 550px;
        
    }
    .HeadTitle_Description{
        height: 90%;
        right: 50%;
        top: 75px;
        
        transform: translateX(50%);
    }
    .HeadTitle_Description p{
        text-align: center;
        max-height: 400px;
    }
    .HeadTitle h2{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .HeadTitle_Line{
        left: 50%;
        transform: translateX(-50%);
    }
    .HeadTitle{
        top: 450px;
    }
}