
@{
    ViewData["Title"] = "View";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="~/css/Admin/admin.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="Head">
        <h2>Админ-панель</h2>
    </div>

    <section class="left_menu">
            <!-- Полный список -->
            <div class="wholeList">
                <img src="~/images/Admin/list-96.png" alt="list" height="40px">
                <div class="notice"><p>Просмотр полного списка товаров</p></div>
            </div>

            <!-- Название -->
            <div class="Name">
                <img src="~/images/Admin/title-100.png" alt="list" height="40px">
                <div class="notice"><p>Изменение заголовка товара</p></div>
                
            </div>

            <!-- Цена -->
            <div class="Price">
                <img src="~/images/Admin/ruble-96.png" alt="list" height="40px">
                <div class="notice"><p>Изменение цены</p></div>

            </div>

            <!-- Описание -->
            <div class="Description">
                <img src="~/images/Admin/text-96.png" alt="list" height="40px">
                <div class="notice"><p>Изменение описания</p></div>

            </div>

            
        
    </section>




</body>
</html>

