@model bool;
@{
    ViewData["Title"] = "View";
    Layout = null;
}
<title>Agrokorm</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

<link type="text/css" href="~/css/Admin/succesORfailure.css" rel="stylesheet" />

<img src="~/images/Logo.png" />

@if (Model)
{
    <h2>Успешно</h2>
}
else{
    <h2>К сожалению, что-то пошло не так</h2>
}
<a asp-controller="Admin" asp-action="Login"><div> <p>Вернуться в админ-панель</p></div></a>

