
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="/css/base.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Agrokorm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet"> 


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik:wght@700&display=swap" rel="stylesheet"> 


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Roboto:wght@700&family=Rubik:wght@700&display=swap" rel="stylesheet"> 


     

</head>
<body>
<!-- Header -->
<header class="header">
    <section class="headerNav">
        <div class="logo"><a asp-controller="Home" asp-action="Index"><img src="/images/Logo.png" alt="Logo"></a></div>
        <div class="menu_list">
            <ul>
                <li><a asp-controller="Home" asp-action="Seeds">Семена</a>
                    <div class="Sub-menu" id="SB1" >
                        <ul>
                            <li class="seed"><a href="#" class="seed0">Яровые семена</a></li>
                            <li class="seed"><a href="#" class="seed1">Озимые семена</a></li>
                            <li class="seed"><a href="#" class="seed1">Семена трав</a></li>
                            <li class="seed"><a asp-controller="Sunflower" asp-action="Index" class="seed1">Семена подсолнечника</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Биоконсерванты</a>
                    <div class="Sub-menu" id="SB2" >
                        <ul>
                            <li class="bio"><a href="#" class="bio0">Биоконсервант Sila ALG GOLD</a></li>
                            <li class="bio"><a href="#" class="bio1">Биоконсервант Sila-Prime</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Силосная пленка</a></li>
                <li><a href="#">Техника</a>
                    <div class="Sub-menu" id="SB3" >
                        <ul>
                            <li><a href="#" class="technic">С.К.У.П. (смесь кормовая углеводно-протеиновая)</a></li>
                            <li><a href="#" class="technic">С.У.П. (смесь углеводно-протеиновая)</a></li>
                            
                        </ul>
                    </div>
                </li>
                <li><a href="#">Агрострейч</a></li>
                <li><a asp-controller="Home" asp-action="Fertilizers">Удобрения</a>
                    <div class="Sub-menu" id="SB4" >
                        <ul>
                            <li class="fertilizers"><a href="#" class="fertilizer0">Биополимер «Нутричардж»</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer1">Глицерол Бор</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer2">Глицерол Калий</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer3">Глицерол Комплекс</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer4">Глицерол Цинк</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer5">Листовая подкормка «Гроугрин»</a></li> 
                            <li class="fertilizers"><a href="#" class="fertilizer6">Повышение эффективности навоза</a></li>
                            <li class="fertilizers"><a href="#" class="fertilizer7">Глицерол азот</a></li>
                              
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="about">
            <ul>
                <li><a>О компании</a></li>
                <li><a>Новости</a></li>
                <li><a>Контакты</a></li>
            </ul>
            <div class="email">
                <div class="email_text"><p>agro36korm@mail.ru</p></div>
                <div class="email_icon"><img src="/images/mail.svg" alt="email"></div>
            </div>
        </div>
        <div class="telephone">
            <p> +7 (930) 417 31 32 </p>
        </div>
    </section>
</header>
<section class="header_mob">
    <div class="header_mob_burger"><label for="LOpen"><img src="/images/menu.svg" alt="" ></label></div>
    <div class="header_mob_logo"><img src="/images/Logo.png" alt="logo"></div>
    <div class="header_mob_tele"><p>+7 (930) 417 31 32</p></div>
    
</section>

<input type="radio" name="l" id="Standart" checked>
<input type="radio" name="l" id="LClose">
<input type="radio" name="l" id="LOpen">


<section class="left_menu">
    <h5> Меню </h5>
    <p> +7 (930) 417 31 32 </p>
    <ul>
       <li>
           <a href="#">Семена</a>
           <img src="/images/white-forward-50.png" alt="" class="seed_">

        </li>
       <li>
           <a href="#">Биоконсерванты</a>
           <img src="/images/white-forward-50.png" alt="" class="bio_">
        </li>
       <li><a href="#">Силосная пленка</a></li>
       <li>
           <a href="#">Техника</a>
           <img src="/images/white-forward-50.png" alt="" class="technic_">
        </li>
       <li><a href="#">Агрострейч</a></li>
       <li>
           <a href="#">Удобрения</a>
           <img src="/images/white-forward-50.png" alt="" class="fertilizer_">
        </li>
       <li><a href="#">О компании</a></li>
       <li><a href="#">Новости</a></li>
       <li><a href="#">Контакты</a></li>

    </ul>
    <label for="LClose"><img src="/images/close.svg"></label>

    <section class="left_menu_burger">
        <div class="left_menu_burger_head">
            <img src="/images/white-back-50.png" alt="" class="back">
            <h5 class="script_title_above"></h5>
        </div>
        <ul class="ul">
            <li class="EL0 EL"><a href="#" class="El0"></a></li>
            <li class="EL1 EL"><a href="#" class="El1"></a></li>
            <!--Add another if needed-->
        </ul>
    </section>

</section>
    @RenderBody()
</body>
</html>

