@using agrokorm.Models

@{
    ViewData["Title"] = "Семена";
    Layout = Layout;


}

<link type="text/css" href="/css/product.css" rel="stylesheet"/>


<section class="navigator">
    <h2></h2>
    <div class="navigator_adress">
        <a asp-controller= "Home" asp-action="Index"  >Главная</a> /  <a >Семена</a>  /  
</section>

<section class = "main">
    <section class = "main_main">
        
            <span class = "block firstLine" id="first">
                
                <div class="image"><img src=~/images/ alt="travosmesi"></div>
                <a class="hyperTitle" href="#"></a>
                <ul class="advantages">
                    <li>- </li>
                    <li>- </li>
                    
                    <li>- </li>
                </ul>
                <a href="#" class="button_hover">
                    <div class="button">
                        <img src=~/images/arrow.svg alt="arrow">
                        <p>Смотреть товары</p>
                    </div>
                </a>
                
            <
            </span>
            <span class = "block firstLine" id="second">
                <div class="image"><img src=~/images/ alt="travosmesi"></div>
                <a class="hyperTitle" href="#"></a>
                <ul class="advantages">
                    <li>- </li>
                    <li>- </li>
                    <li>- </li>
                </ul>
                <a href="#">
                    <div class="button">
                        <img src=~/images/arrow.svg alt="arrow">
                        <p>Смотреть товары</p>
                    </div>
                </a>
            </span>
            <span class = "block firstLine" id="third">
                <div class="image"><img src=~/images/ alt="travosmesi"></div>
                <a class="hyperTitle" href="#"></a>
                <ul class="advantages">
                    <li>- </li>
                    <li>- </li>
                    <li>- </li>
                </ul>
                <a href="#">
                    <div class="button">
                        <img src=~/images/arrow.svg alt="arrow">
                        <p>Смотреть товары</p>
                    </div>
                </a>
            </span>
            
     
    
    </section>
</section>



